workers/xsd/properties.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="refagent"/>
              <xs:element type="xs:string" name="title" minOccurs="0"/>
              <xs:element type="xs:string" name="description" minOccurs="0"/>
              <xs:element type="xs:float" name="price" minOccurs="0"/>
              <xs:element type="xs:string" name="address" minOccurs="0"/>
              <xs:element type="xs:byte" name="bedroom" minOccurs="0"/>
              <xs:element type="xs:anyURI" name="url" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="action" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>